.container {
    margin-top: 40px;
    color: white;
    
    .box {
        color: black;
        background-color: white;
        border: 3px solid black;
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
        border-radius: 10px;
    }

    .grey {
        color: rgb(149, 149, 149);
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    li {
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    h2 {
        text-align: center;
        margin-bottom: 10px;
        text-shadow: 2px 2px black;
    }
}

.userSection {
    padding-top: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white
}

.creatorBlock {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.editDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}