// colors 
// Orange #FEAC3F
// Red #D50017

.navContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    h1 {
        position: absolute;
        top: 3rem;
        left: 3rem;
        color: white;
        font-family: "Bangers", system-ui;
        font-size: 7vw;
        font-weight: 400;
        font-style: normal;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        text-shadow: 10px 10px #000000;
    }
    nav{
        display: flex;
        background-color: #000000;
        width: 100%;
        justify-content: space-between;
        z-index: 1;
        ul{
            display: flex;
            position: absolute;
            right: 0;
            background-color: #D50017;
            border-radius: 10px;
            margin-top: 10px;
            margin-right: 20px;
            li{
                list-style: none;
                a{
                    display: block;
                    text-decoration: none;
                    color: white;
                    padding: 0 0.5rem;
                    margin: 0 0.5rem;
                    border-radius: 0.5rem;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    font-size: 18pt;
                    font-family: Helvetica;
                    font-weight: 1000;
                    text-shadow: 3px 3px #000000;
                }
                a:hover {
                    background-color: #FEAC3F;
                }
            }
        }
    }
    .menu {
        display: none;
        position: absolute;
        top: 0.75rem;
        right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 2rem;
        z-index: 3;
        span {
            height: 0.4rem;
            width: 100%;
            background-color: #ffffff;
            border-radius: 0.2rem;
        }
    }

    @media (max-width: 680px) {
        h1 {
            top: 1rem;
            left: 1rem;
            font-size: 9vw;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: black;
            text-shadow: 4px 4px #000000;


        }
        .menu {
            display: flex
        }
        nav{
            flex-direction: column;
            align-items: start;
        }
        nav ul {
            display: none;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.25rem;
        }
        nav ul.open {
            display: flex;
        }
        nav ul li{
            width: 100%;
            text-align: center;
        }
        nav ul li a {
            margin: 0.2rem 0.5rem
        }
    }
}
