.jobs {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  padding: 0;
  margin-bottom: 88px;
}

@media (min-width: 576px) {
  .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .jobs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.jobCard {
  background: #fff;
  border: solid 3px #000;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  overflow-wrap: anywhere;
  color: black;
}

.jobCardContent {
  padding: 20px;
}