main{
    display: flex;
    flex-direction: column;
    
    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: black;
    }

    section{
        display: flex;
        flex-direction: column;
        
        form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
    }
}
